In [12]:
import pandas as pd

In [13]:
from dotenv import dotenv_values #import dotenv values from dotenv package
from IPython.display import display
import pandas as pd
import warnings
import pyodbc
warnings.filterwarnings('ignore')

In [14]:
#Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

#Get values for credentials in .env

database = environment_variables.get("database")
server = environment_variables.get("server")
username = environment_variables.get("login")
password = environment_variables.get("password")

connection_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER={dap-projects-database.database.windows.net};DATABASE={dapDB};UID={LP1_learner};PWD={Hyp0th3s!$T3$t!ng}'

In [15]:
#passing on the conncetion string
connection = pyodbc.connect(connection_string)

In [26]:
#loading 2020 data
db_query = "SELECT * from dbo.LP1_startup_funding2020"
data_three = pd.read_sql(db_query, connection)

data_three['year_collected']=2020
data_three.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,column10,year_collected
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None,None,2020
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed,None,2020
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed,None,2020
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None,None,2020
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None,None,2020

In [25]:
#loading 2021 data
db_query1 = "SELECT * from dbo.LP1_startup_funding2021"
data_four = pd.read_sql(db_query1, connection)

data_four['year_collected']=2021
data_four.head()

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage,year_collected
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A,2021
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None,2021
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D,2021
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C,2021
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed,2021

In [27]:
#loading 2019 data
file_path = '..\startup_funding2019.csv'
data_two = pd.read_csv(file_path, encoding='windows-1254')

data_two['year_collected']=2019
data_two.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,year_collected
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN,2019
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C,2019
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding,2019
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D,2019
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN,2019

In [28]:
#loading 2018 data
file_path2 = '..\startup_funding2018.csv'
data_one = pd.read_csv(file_path2)

data_one['year_collected']=2018
data_one.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company,year_collected
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018

In [29]:
#renaming 2018 & 2019 columns to have relative names for all datasets
#rename all columns in each dataframe to conform to the 2021 dataset

data_one.columns=['Company_Brand','Sector','Stage', 'Amount', 'HeadQuarter', 'What_it_does','year_collected']

data_two.columns=['Company_Brand','Founded','HeadQuarter','Sector','What_it_does','Founders','Investor', 'Amount', 'Stage', 'year_collected']

In [32]:
#combine all datasets into one dataframe 

df=pd.concat([data_one, data_two, data_three, data_four], axis=0)

df.shape

(2879, 11)

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2879 entries, 0 to 1208
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_Brand   2879 non-null   object
 1   Sector          2861 non-null   object
 2   Stage           1941 non-null   object
 3   Amount          2622 non-null   object
 4   HeadQuarter     2765 non-null   object
 5   What_it_does    2879 non-null   object
 6   year_collected  2879 non-null   int64
 7   Founded         2110 non-null   float64
 8   Founders        2334 non-null   object
 9   Investor        2253 non-null   object
 10  column10        2 non-null      object
dtypes: float64(1), int64(1), object(9)
memory usage: 269.9+ KB

In [35]:
#Delete column 10, might represent irrelevant data
df = df.drop('column10', axis=1)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2879 entries, 0 to 1208
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Company_Brand   2879 non-null   object
 1   Sector          2861 non-null   object
 2   Stage           1941 non-null   object
 3   Amount          2622 non-null   object
 4   HeadQuarter     2765 non-null   object
 5   What_it_does    2879 non-null   object
 6   year_collected  2879 non-null   int64
 7   Founded         2110 non-null   float64
 8   Founders        2334 non-null   object
 9   Investor        2253 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 247.4+ KB

In [49]:
#check for duplicate rows in all columns 
duplicate_values = df[df.duplicated()]
print("Duplicated Rows....")

duplicate_values

Duplicated Rows....

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,year_collected,Founded,Founders,Investor
348,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
145,Krimanshi,Biotechnology company,Seed,600000.0,Jodhpur,Krimanshi aims to increase rural income by imp...,2020,2015.0,Nikhil Bohra,"Rajasthan Venture Capital Fund, AIM Smart City"
205,Nykaa,Cosmetics,None,NaN,Mumbai,Nykaa is an online marketplace for different b...,2020,2012.0,Falguni Nayar,"Alia Bhatt, Katrina Kaif"
362,Byju’s,EdTech,None,500000000.0,Bangalore,An Indian educational technology and online tu...,2020,2011.0,Byju Raveendran,"Owl Ventures, Tiger Global Management"
107,Curefoods,Food & Beverages,None,$13000000,Bangalore,Healthy & nutritious foods and cold pressed ju...,2021,2020.0,Ankit Nagori,"Iron Pillar, Nordstar, Binny Bansal"
109,Bewakoof,Apparel & Fashion,None,$8000000,Mumbai,Bewakoof is a lifestyle fashion brand that mak...,2021,2012.0,Prabhkiran Singh,InvestCorp
111,FanPlay,Computer Games,$1200000,Upsparks,Computer Games,A real money game app specializing in trivia g...,2021,2020.0,YC W21,"Pritesh Kumar, Bharat Gupta"
117,Advantage Club,HRTech,None,$1700000,Mumbai,Advantage Club is India's largest employee eng...,2021,2014.0,"Sourabh Deorah, Smiti Bhatt Deorah","Y Combinator, Broom Ventures, Kunal Shah"
119,Ruptok,FinTech,None,$1000000,New Delhi,Ruptok fintech Pvt. Ltd. is an online gold loa...,2021,2020.0,Ankur Gupta,Eclear Leasing
243,Trinkerr,Capital Markets,Series A,$6600000,Bangalore,Trinkerr is India's first social trading platf...,2021,2021.0,"Manvendra Singh, Gaurav Agarwal",Accel India
244,Zorro,Social network,Seed,$32000000,Gurugram,Pseudonymous social network platform,2021,2021.0,"Jasveer Singh, Abhishek Asthana, Deepak Kumar","Vijay Shekhar Sharma, Ritesh Agarwal, Ankiti Bose"
245,Ultraviolette,Automotive,Series C,$150000000,Bangalore,Create and Inspire the future of sustainable u...,2021,2021.0,"Subramaniam Narayan, Niraj Rajmohan","TVS Motor, Zoho"
246,NephroPlus,Hospital & Health Care,Series E,$24000000,Hyderabad,A vision and passion of redefining healthcare ...,2021,2009.0,Vikram Vuppala,IIFL Asset Management
247,Unremot,Information Technology & Services,Seed,$700000,Bangalore,Unremot is a personal office for consultants!,2021,2020.0,Shiju Radhakrishnan,Inflection Point Ventures
248,FanAnywhere,Financial Services,Seed,$Undisclosed,Bangalore,Celebrity NFT platform,2021,2021.0,"Varun Chaudhary, Amit Kumar","Oasis Capital, Scorpio VC, DeltaHub Capital"
249,PingoLearn,E-learning,None,$200000,Pune,PingoLearn offers language learning courses wi...,2021,2021.0,"Mohit Menghani, Shubham Maheshwari","Titan Capital, Haresh Chawla, AngelList Syndicate"
250,Spry,Music,Seed,$1500000,Mumbai,THE BEST ROYALTY-FREE MUSIC TO CREATE TRENDING...,2021,2021.0,"Gaurav Dagaonkar, Meghna Mittal","9Unicorns, Ashneer Grover"
251,Enmovil,Information Technology & Services,Pre-series A,$1300000,Hyderabad,Enmovil delivers a Business Intelligence Platf...,2021,2015.0,"Ravi Bulusu, Nanda Kishore, Venkat Moganty",Anicut Angel Fund
252,ASQI Advisors,Financial Services,Pre-series A,$1000000,Mumbai,Bringing Blockchain technology intro mainstrea...,2021,2019.0,Swapnil Pawar,Founders Room Capital
253,Insurance Samadhan,Insurance,Pre-series A,$725000,New Delhi,The insurance industry will help in representa...,2021,2018.0,Deepak Bhuvenshwari Uniyal,"9Unicorns, ZNL"
254,Evenflow Brands,Consumer Goods,None,$500000,Mumbai,Identify and partner with the upcoming eCommer...,2021,2020.0,"Utsav Agarwal, Pulkit Chhabra",None
255,MasterChow,Hauz Khas,Seed,$461000,Food & Beverages,A ready-to-cook Asian cuisine brand,2021,2020.0,"Vidur Kataria, Sidhanth Madan",WEH Ventures
256,Fullife Healthcare,Primary Business is Development and Manufactur...,None,Series C,Pharmaceuticals\t#REF!,Varun Khanna,2021,2009.0,Morgan Stanley Private Equity Asia,$22000000

In [50]:
#Drop duplicated rows
df.drop_duplicates()

,Company_Brand,Sector,Stage,Amount,HeadQuarter,What_it_does,year_collected,Founded,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",2018,NaN,NaN,NaN
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,2018,NaN,NaN,NaN
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,2018,NaN,NaN,NaN
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,2018,NaN,NaN,NaN
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,2018,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
1204,Gigforce,Staffing & Recruiting,Pre-series A,$3000000,Gurugram,A gig/on-demand staffing company.,2021,2019.0,"Chirag Mittal, Anirudh Syal",Endiya Partners
1205,Vahdam,Food & Beverages,Series D,$20000000,New Delhi,VAHDAM is among the world’s first vertically i...,2021,2015.0,Bala Sarda,IIFL AMC
1206,Leap Finance,Financial Services,Series C,$55000000,Bangalore,International education loans for high potenti...,2021,2019.0,"Arnav Kumar, Vaibhav Singh",Owl Ventures
1207,CollegeDekho,EdTech,Series B,$26000000,Gurugram,"Collegedekho.com is Student’s Partner, Friend ...",2021,2015.0,Ruchir Arora,"Winter Capital, ETS, Man Capital"
1208,WeRize,Financial Services,Series A,$8000000,Bangalore,India’s first socially distributed full stack ...,2021,2019.0,"Vishal Chopra, Himanshu Gupta","3one4 Capital, Kalaari Capital"