In [57]:
import pandas as pd

In [58]:
from dotenv import dotenv_values #import dotenv values from dotenv package
import pandas as pd
import warnings
import pyodbc
warnings.filterwarnings('ignore')

In [59]:
#Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

#Get values for credentials in .env

database = environment_variables.get("database")
server = environment_variables.get("server")
username = environment_variables.get("login")
password = environment_variables.get("password")

connection_string = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER={dap-projects-database.database.windows.net};DATABASE={dapDB};UID={LP2_project};PWD={Stat$AndD@t@Rul3}'

In [60]:
#passing on the conncetion string
connection = pyodbc.connect(connection_string)

In [61]:
#Quering data from SQL
db_query = '''SELECT *
FROM INFORMATION_SCHEMA.TABLES
WHERE TABLE_TYPE = 'BASE TABLE' '''

In [62]:
#read available data
data = pd.read_sql(db_query, connection)
data.head()

  TABLE_CATALOG TABLE_SCHEMA                  TABLE_NAME  TABLE_TYPE
0         dapDB          dbo  LP2_Telco_churn_first_3000  BASE TABLE

In [ ]:
#Connecting to Database 1